@charset "UTF-8";
*{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  border: 15px solid #033AFF;
  width: auto;
  height: 8242px;
}

nav{
  padding-left: 500px;
  padding-top: 35px;
  margin-left: auto;
  margin-right: auto;
  width: auto;
  height: 150px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25)
}

h1{
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  line-height: normal;
  font-size: 45px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #552FED;
}

.nav-img{
  width: 200px;
  height: auto;
  margin-left: 100px;
  margin-right: 50px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 35px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
}

.nav-link{
  block: inline;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  width: 73px;
  height: 19px;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-decoration: none;
}

.featured{
  padding-top: 55px;
  margin-bottom: 100px;
}

.items{
  padding-left: 35px;
  padding-right: auto;
}

.item1{
  margin: 25px;
  width: 600px;
  height: 400px;
  float: left;
  background: #C4C4C4;
}

.item2{
  margin: 25px;
  width: 600px;
  height: 400px;
  float: left;
  background: #C4C4C4;
}

.design{
  margin-bottom: 100px;
  padding-top: 55px;
}
