@charset "UTF-8";
*{
  box-sizing: border-box;
}

body{
  font-family: Montserrat, sans-serif;
  width: auto;
  height: auto;
}

h2{
  font-weight: 600;
  color: #fff;
  font-size: 55px;
  letter-spacing: 2px;
  padding-top: 300px;
  padding-left: 150px;
  z-index: 15;
}

h3{
  font-weight: normal;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: -250px;
  text-transform: uppercase;
  padding-left: 150px;
  z-index: 16;
}

p{
  font-weight: normal;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  line-height: 23px;
  padding-top: -500px;
  padding-left: 150px;
  padding-right: 550px;
  margin-right: 50px;
  text-transform: uppercase;
  z-index: 16;
}

nav{
  padding-left: 500px;
  padding-top: 30px;
  margin: auto;
  width: auto;
  height: 75px;
  background: #FFFFFF;
  box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.25)
}

button{
  /* positioning classes */
  position: sticky;
  width: 155px;
  height: 45px;
  left: 150px;
  margin-top: 35px;
  margin-left: 150px;

  /* font classes */
  color: #fff;
  font-family: Montserrat, sans-serif;
  font-weight: 300;
  letter-spacing: 3px;

  /* button background classes */
  background-color: transparent;
  border-width: medium;
  border-style: solid;
  border-color: #fff;
  border-width: 2px;
}

/* links */
a{
  color: #fff;
  text-decoration: none;
}

.parallax {
  /* Set a specific height */
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  width: auto;
  height: 750px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: auto;
}

.mark {
  position: absolute;
  left: 0px;
  top: 250px;
  width: 55%;
  height: auto;
  padding-left: 150px;
  z-index: 15;
}

.credit{
  font-weight: normal;
  color: #fff;
  font-size: 15px;
  letter-spacing: 3px;
  padding-top: -250px;
  text-transform: uppercase;
  padding-left: 150px;
  z-index: 16;
}

/* styleing for buttons */
.button{
  /* positioning classes */
  position: sticky;
  width: 155px;
  height: 45px;
  left: 150px;
  -webkit-transition: width 550ms, height 0s;
  {-webkit-transition-timing-function: ease;}


  /* For Safari 3.1 to 6.0 */
  transition: width 550ms, height 0s;
  {-webkit-transition-timing-function: ease;}

}

.button:hover{
  /* positioning classes */
  position: sticky;
  width: 199px;
  height: 45px;
  left: 150px;
  margin-top: 35px;
  margin-left: 150px;

}

/* overides the link styleing on the nav */

.navLink:link{
  block: inline;
  margin: auto;
  padding: 15px;
  width: 73px;
  height: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-decoration: none;
}

.navLink:visited{
  block: inline;
  margin: auto;
  padding: 15px;
  width: 73px;
  height: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-decoration: none;
}

.navLink:hover{
  block: inline;
  margin: auto;
  padding: 15px;
  width: 73px;
  height: auto;
  font-family: Montserrat;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  font-size: 15px;
  text-align: center;
  letter-spacing: 0.15em;
  color: #000000;
  text-decoration: none;
}




/* background images — ALWAYS KEEP AT BOTTOM of CSS! */

/* design */

.parallaxImg0 {
  background-image: url("assets/sand.jpg");
}

.parallaxImg1 {
  background-image: url("assets/thumbnails/a_elevation.png");
}

.parallaxImg2 {
  background-image: url("assets/thumbnails/a_unsplash.png");
}

.parallaxImg3 {
  background-image: url("assets/thumbnails/a_icons.png");
}

.parallaxImg4 {
  background-image: url("assets/thumbnails/a_thefutur.png");
}

.parallaxImg5 {
  background-image: url("assets/thumbnails/a_type.png");
}


/* web */
.parallaxImg6 {
  background-image: url("assets/thumbnails/b_awwards.png");
}

.parallaxImg7 {
  background-image: url("assets/thumbnails/b_csszen.png");
}

.parallaxImg8 {
  background-image: url("assets/thumbnails/b_fcc.png");
}

.parallaxImg9 {
  background-image: url("assets/thumbnails/b_treehouse.png");
}

.parallaxImg10 {
  background-image: url("assets/thumbnails/b_wf.png");
}

.parallaxImg11 {
  background-image: url("assets/thumbnails/b_wfshowcase.png");
}

.parallaxImg11 {
  background-image: url("assets/thumbnails/b_wfshowcase.png");
}

.parallaxImg12 {
    background-image: url("assets/thumbnails/c_cc.png");
  }

  .parallaxImg13 {
      background-image: url("assets/thumbnails/c_dr.png");
    }

  .parallaxImg14 {
        background-image: url("assets/thumbnails/c_npr.png");
      }

  .parallaxImg15 {
        background-image: url("assets/thumbnails/c_spot.png");
          }

  .parallaxImg16 {
    background-image: url("assets/thumbnails/c_yt.png");
      }
